body {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴシック", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 1020px;
}

main {
    width: auto;
    overflow: hidden;
    max-width: 1020px;
    background-color: #fff;
    padding: 16px 20px;
}

a {
    color: #333;
    text-decoration: none;
    border-bottom: solid 1px;
    padding-bottom: 1px
}

a:visited {
    color: #333
}

a:hover {
    color: #333;
    border-bottom-color: transparent
}

header {
    margin: 1.4em 0 2em 0;
    padding-left: 10px
}

header h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    margin: 0
}

header h1 a {
    color: #333;
    text-decoration: none;
    border-bottom: none
}

header h1 a:visited {
    color: #333
}


footer {
    margin: 3em 0 0 0;
    padding: 2em 0;
    border-top: 1px dashed #333;
    text-align: center;
    font-size: 90%;
    line-height: 2.4;
}

#center-container {
    display: flex;
    justify-content: space-between
}


article h1 {
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: solid 4px #333;
    margin: .5em 0
}


article h2 {
    font: size 1.4em;
    font-weight: bold;
    border-bottom: solid 2px #333;
}

::marker {
    color: black;
    font-size: 1.2em;
}
/* コード表示部分 */
article :not(pre) > code {
    font-size: .9em;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #e0e0e0;
    background-color: #fafafa;
    border-radius: 3px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol#breadcrumb {
    color: #666;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    font-size: 95%;
    padding-left: 0;
}

ol#breadcrumb>li+li:before {
    content: ">";
    padding: 0 6px;
    color: #ccc;
}

ol#breadcrumb>li {
    display: inline-block;
}

/* アンダーバー消し */
.self-introduction a {
    border-bottom: none;
}

div.kill_img img {
    margin: 5px 5px 0 0;
    width: 100%;
    height: auto;
}

table,
th,
td {
    border: 1px solid;
}
table {
    width: 60%;
    height: 240px;
    overflow-x: auto;
    border-spacing: 0;
}
th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}

@media (max-width: 1020px) and (min-width: 768px) {
    body {
        width: 95%;
        margin: 0 auto;        
        font-size: 30px;
        background-color: #fff

    }
    main {
        width: auto;
        padding: 8px 10px
    }
    header{
        padding-left: 8px
    }
}
